body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #09c009;
    width: 500px;
    height: 210px;
    margin-top: 50px;
    display: flex;
    border-radius: 10px;
}

.container p{
    color: #e7e7e7;
}

img{
    width: 70px;
    height: 70px;
}